{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "printWidth": 80,
    "quoteProps": "as-needed",
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
